$primary-color: #FFF;
$item-height: 36px;
$width: 320px;
$badge-size: 16px;

:host {
    z-index: 12;
}

#toggle-button-container {
    width: 28px;
    height: 36px;
    position: absolute;
    right: -24px;
    top: 4px;
    border-radius: var(--app-radius-sm);
    border: solid 1px #222;
    z-index: -1;
    background-color: var(--gray-dark);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    #toggle-button {
        cursor: pointer;
        padding-left: 2px;
        font-size: var(--app-font-size-icon);
    }
}

app-open-repo-panel {
    left: 0;
    z-index: 0;
}

#side-nav {
    position: relative;
    &.toggled {
        width: $width;
    }
    height: 100%;
    width: 0;
    flex-shrink: 0;
    background-color: var(--gray-dark);
    color: $primary-color;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    overflow: visible;
}

.toggle-nav {
    float: right;
}

.main-nav-list {
    height: 100%;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    &>li {
        display: block;
        height: auto;
        width: 100%;
        overflow: hidden;
        border-bottom: solid 1px #222;

        a {
            height: $item-height;
            padding: 6px 16px;
            width: 100%;
            font-size: var(--app-font-size-base);
            display: block;
            background: rgba(0, 0, 0, 0);
            color: $primary-color;
            white-space: nowrap;
        }
        a:hover {
            background: rgba(0, 0, 0, 0.2);
        }
    }
    padding: 0;
    list-style: none;
}

.repo-info-container {
    width: 100%;
    padding: 6px 16px;
    height: $item-height;
    display: none;
    border-bottom: solid 1px #222;
    &:last-child {
        border-top: solid 1px #222;
    }
}

.action-button {
    cursor: pointer;
    position: relative;
    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }
    .badge{
        position: absolute;
        border-radius: 50%;
        width: $badge-size;
        height: $badge-size;
        top: 4px;
        left: 10px;
        font-size: var(--app-font-size-xs);
        padding: 0.15em 0;
        line-height: 12px;
        color: #FFF !important;
    }
}

@media (min-width: 768px) {
    #side-nav {
        width: 52px;
    }
    app-open-repo-panel {
        left: 52px;
    }
    .main-nav-list li {
        display: none;
        .nav-text {
            display: none;
        }
        a {
            font-size: var(--app-font-size-icon);
            padding: 4px 8px;
        }
    }
    .toggle-visible {
        display: block !important;
        .nav-text {
            display: none;
        }
    }
    .repo-info-container.toggle-visible {
        padding: 6px 16px;
        h4 i {
            font-size: var(--app-font-size-icon);
        }
    }
    app-open-repo-panel.toggled {
        left: $width;
    }
    #side-nav.toggled {
        .toggle-visible .nav-text {
            display: inline;
        }
        .repo-info-container.toggle-visible {
            padding: 6px 16px;
            h4 i {
                font-size: var(--app-font-size-lg);
            }
        }
        .repo-info-container {
            display: block;
        }
        .main-nav-list {
            li {
                display: block;
            }
            li.expandable {
                height: $item-height;
            }
            li.expandable.toggled {
                height: auto;
            }
            .nav-text {
                display: inline;
            }
            a {
                .expand {
                    float: right;
                    font-size: var(--app-font-size-lg);
                }
                padding: 6px 16px;
            }
        }
    }
}

.nav-text {
    white-space: nowrap;
}

.full-width{
    width: 100%;
}

.toggle-all-btn{
    line-height: 1.3rem;
    font-size: var(--app-font-size-md);
    &:hover{
        color: var(--blue);
    }
}