<div class="p-3">
  <h2><i class="icon-info mr-3"></i>About</h2>
  <div class="content-container full-width">
    <h3>Hetu 0.5.0</h3>
    <h5>
      Repository:
      <a href="javascript:void(0)" (click)="goToRepo()"
        >https://github.com/systembugtj/hetu</a
      >
    </h5>
    <h5>
      Love this app? I will greatly appreciate it if you can
      <a href="javascript:void(0)" (click)="goToBMC()">Buy Me A Tea</a> !
    </h5>
    <h5>License: MIT © Ming-Hung (Michael) Lu</h5>
  </div>
</div>
