:host {
    width: 100%;
}

.file-details-container {
    min-height: 0;
    height: 100%;
}

.modified-file-list {
    background: rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    user-select: initial;
    .modified-file-entry {
        white-space: nowrap;
        user-select: initial;
        cursor: pointer;
        position: relative;
        font-size: var(--app-font-size-sm);
        .btn-sm {
            height: 20px;
            font-size: var(--app-font-size-xs);
            padding: 1px 3px;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.2);
            .action-button {
                display: block;
            }
        }
        .action-button {
            display: none;
            position: absolute;
            right: 3px;
            top: 2px;
            line-height: 18px;
        }
    }
}

.action-button {
    cursor: pointer;
    font-size: var(--app-font-size-xs);
    background: var(--gray);
    border-radius: var(--app-radius-sm);
    padding: 2px 3px;
}