$item-height: var(--app-toolbar-height);
$badge-size: 16px;

:host{
    width: 100%;
}
#action-button-container{
    border-bottom: solid 1px #222;
    width: 100%;
    min-height: $item-height;
    cursor: pointer;
    .action-button{
        width: 44px;
        height: $item-height;
        padding: 4px 6px;
        font-size: var(--app-font-size-icon);
        text-align: center;
        position: relative;
        app-spinner{
            position: absolute;
            top: 8px;
            left: 12px;
        }
        &:hover{
            background: rgba(0, 0, 0, 0.2);
            color: var(--blue);
        }
        .badge{
            position: absolute;
            border-radius: 50%;
            background: rgb(5, 142, 217);
            width: $badge-size;
            height: $badge-size;
            top: 4px;
            right: 4px;
            font-size: var(--app-font-size-xs);
            padding: 0.15em 0;
            line-height: 12px;
            color: #FFF !important;
        }
    }
}